<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>

<footer>
  <div class="site-footer__bottom">
    <div class="container">
      <p class="site-footer__copy">
        &copy; Copyright 2023 by <a href="#">Boma Joaquim Miguel</a>
      </p>
      <div class="site-footer__social">
        <a
          href="#"
          data-target="html"
          class="scroll-to-target site-footer__scroll-top"
          ><i class="kipso-icon-top-arrow"></i
        ></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-facebook-square"></i></a>
      </div>
      <!-- /.site-footer__social -->
      <!-- /.site-footer__copy -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.site-footer__bottom -->
</footer>
<!-- /.site-footer -->

<div class="search-popup">
  <div class="search-popup__overlay custom-cursor__overlay">
    <div class="cursor"></div>
    <div class="cursor-follower"></div>
  </div>
  <!-- /.search-popup__overlay -->
  <div class="search-popup__inner">
    <form action="#" class="search-popup__form">
      <input type="text" name="search" placeholder="Type here to Search...." />
      <button type="submit"><i class="kipso-icon-magnifying-glass"></i></button>
    </form>
  </div>
  <!-- /.search-popup__inner -->
</div>
<!-- /.search-popup -->

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<script src="assets/js/jquery.counterup.min.js"></script>
<script src="assets/js/TweenMax.min.js"></script>
<script src="assets/js/wow.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/countdown.min.js"></script>
<script src="assets/js/vegas.min.js"></script>
<script src="assets/js/jquery.validate.min.js"></script>
<script src="assets/js/jquery.ajaxchimp.min.js"></script>

<!-- template scripts -->
<script src="assets/js/theme.js"></script>
