<%- include('./Includes/begin.ejs') %>
<%- include('./Includes/navbar.ejs') %>

<section class="inner-banner">
    <div class="container">
        <ul class="list-unstyled thm-breadcrumb">

        </ul><!-- /.list-unstyled -->
        <h2 class="inner-banner__title">a propos</h2><!-- /.inner-banner__title -->
    </div><!-- /.container -->
</section><!-- /.inner-banner -->
<section class="about-two">
    <div class="container">
        <div class="row">
            <div class="col-xl-6">
                <div class="about-two__content">
                    <div class="block-title text-left">
                        <h2 class="block-title__title">Inscriptions possibles dans la section<br>
                            « Reliure » </h2><!-- /.block-title__title -->
                    </div><!-- /.block-title -->
                    <p class="about-two__text">Le secrétariat se situe dans le Campus des Arts et Métiers de la Ville de Bruxelles,<br> mais les cours sont organisés sur deux sites : le Campus des « Arts et Métiers » <br> et le Campus Rue Haute.
                        Boulevard de l’Abattoir, 50 à 1000 Bruxelles<br>

                        Mail : institut.hankar@gmail.com<br>
                        Heures d’ouverture du secrétariat<br>
                        Du lundi au jeudi : de 14h00 à 20h00<br>
                        Vendredi : de 10h00 à 15h00<br>
                        Samedi : de 8h30 à 12h30<br>
                        Accès<br>
                        Trams : 51 et 82 arrêt « Arts et Métiers » – 3 et 4 arrêt « Lemonnier » (Tram 32 le soir)<br>
                        Bus: 86 arrêt « Triangle » – 46 arrêt « Porte d’Anderlecht »<br>
                        Métro : ligne 2 et 6 arrêt « Gare du Midi ».</p><!-- /.about-two__text -->
                    <div class="about-two__single-wrap">
                        <div class="about-two__single">
                            <div class="about-two__single-icon">
                             </div><!-- /.about-two__single-icon -->
                            <div class="about-two__single-content">
                        </div><!-- /.about-two__single-content -->
                        </div><!-- /.about-two__single -->
                        <div class="about-two__single">
                            <div class="about-two__single-icon">
                             </div><!-- /.about-two__single-icon -->
                            <div class="about-two__single-content">

                            </div><!-- /.about-two__single-content -->
                        </div><!-- /.about-two__single -->
                    </div><!-- /.about-two__single-wrap -->
                    <a href="#" class="thm-btn">Nous Contacter</a><!-- /.thm-btn -->
                </div><!-- /.about-two__content -->
            </div><!-- /.col-lg-6 -->
            <div class="col-xl-6 d-flex justify-content-xl-end justify-content-sm-center">
                <div class="aboutImage">
                <img src="assets/images/about-1-1.jpg" alt="">
                </div><!-- /.about-two__image -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->

    <%- include('./Includes/end.ejs') %>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/countdown.min.js"></script>
    <script src="assets/js/vegas.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- template scripts -->
    <script src="assets/js/theme.js"></script>
</body>

</html>