<%- include('./Includes/begin.ejs') %>
<%- include('./Includes/navbar.ejs') %>

        <div class="banner-wrapper">
            <section class="banner-one banner-carousel__one no-dots owl-theme owl-carousel">
                <div class="banner-one__slide banner-one__slide-one">
                  <div class="container">
                    <div class="row no-gutters prt">
                      <div class="col-xl-12">
                        <div class="title1">
                          <h3 class="banner-one__title banner-one__light-color">INSTITUT <br>
                            PAUL HANKAR</h3>
                          <h6 class="text-light"> Institut des Technologies de la Communication</h6>
                          <h6 class="text-light">de la Construction et des Métiers d'Art. <br> </h6>
                          <a href="#" class="thm-btn banner-one__btn ">Découvrez nos formations</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <!-- /.banner-one -->


        <section class="about-two">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="about-two__content">
                            <div class="block-title text-left">
                                <h2 class="block-title__title">L’Institut<br>
                                    Paul Hankar </h2><!-- /.block-title__title -->
                            </div><!-- /.block-title -->
                            <p class="about-two__text">est un établissement de promotion sociale de la Ville de Bruxelles qui dispense un enseignement reconnu par la Fédération Wallonie-Bruxelles.
                                Il offre un enseignement varié allant de l’enseignement secondaire à l’enseignement supérieur avec la possibilité d’organiser des formations en convention.</p><!-- /.about-two__text -->
                            <div class="about-two__single-wrap">
                                <div class="about-two__single">
                                    <div class="about-two__single-icon">
                                        <i class="kipso-icon-professor"></i><!-- /.kipso-icon-professor -->
                                    </div><!-- /.about-two__single-icon -->
                                    <div class="about-two__single-content">
                                        <p class="about-two__single-text">Inscriptions 2022 – 2023</p><!-- /.about-two__single-text -->
                                    </div><!-- /.about-two__single-content -->
                                </div><!-- /.about-two__single -->
                                <div class="about-two__single">
                                    <div class="about-two__single-icon">
                                        <i class="kipso-icon-knowledge"></i><!-- /.kipso-icon-professor -->
                                    </div><!-- /.about-two__single-icon -->
                                    <div class="about-two__single-content">
                                        <p class="about-two__single-text">Inscriptions possibles dans la section « Reliure »</p><!-- /.about-two__single-text -->
                                    </div><!-- /.about-two__single-content -->
                                </div><!-- /.about-two__single -->
                            </div><!-- /.about-two__single-wrap -->
                            <a href="/about" class="thm-btn">En Savoir Plus</a><!-- /.thm-btn -->
                        </div><!-- /.about-two__content -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-xl-6 d-flex justify-content-xl-end justify-content-sm-center">
                        <div class="about-two__image">
                            <span class="about-two__image-dots"></span><!-- /.about-two__image-dots -->
                            <img src="assets/images/about-1-1.jpg" alt="">
                            <div class="about-two__count">
                                <div class="about-two__count-text">Déjà Inscrits
                                    <span class="counter">1290</span></div><!-- /.about-two__count-text -->
                            </div><!-- /.about-two__count -->
                        </div><!-- /.about-two__image -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.about-two -->


        <section class="mailchimp-one">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mailchimp-one__content">
                            <div class="mailchimp-one__icon">
                                <i class="kipso-icon-email"></i>
                            </div><!-- /.mailchimp-one__icon -->
                            <h2 class="mailchimp-one__title">Inscrivez vous <br>
                                à notre newsletter</h2><!-- /.mailchimp-one__title -->
                        </div><!-- /.mailchimp-one__content -->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6 d-flex">
                        <div class="my-auto">
                            <form action="#" class="mailchimp-one__form mc-form" data-url="MAILCHIMP_FORM_URL">
                                <input type="text" id="mc-email" placeholder="Entrez votre email ">
                                <button type="submit" class="thm-btn">S'inscrire</button>
                            </form><!-- /.mailchimp-one__form -->
                            <div class="mc-form__response"></div><!-- /.mc-form__response -->
                        </div><!-- /.my-auto -->
                    </div><!-- /.col-lg-6 -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.mailchimp-one -->

            <div class="site-footer__bottom">
                <div class="container">
                    <p class="site-footer__copy">&copy; Copyright 2023 by <a href="#">Boma Joaquim Miguel</a></p>
                    <div class="site-footer__social">
                        <a href="#" data-target="html" class="scroll-to-target site-footer__scroll-top"><i class="kipso-icon-top-arrow"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook-square"></i></a>
                    </div><!-- /.site-footer__social -->
                    <!-- /.site-footer__copy -->
                </div><!-- /.container -->
            </div><!-- /.site-footer__bottom -->
        </footer><!-- /.site-footer -->

    </div><!-- /.page-wrapper -->

    <div class="search-popup">
        <div class="search-popup__overlay custom-cursor__overlay">
            <div class="cursor"></div>
            <div class="cursor-follower"></div>
        </div><!-- /.search-popup__overlay -->
        <div class="search-popup__inner">
            <form action="#" class="search-popup__form">
                <input type="text" name="search" placeholder="Type here to Search....">
                <button type="submit"><i class="kipso-icon-magnifying-glass"></i></button>
            </form>
        </div><!-- /.search-popup__inner -->
    </div><!-- /.search-popup -->

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/js/countdown.min.js"></script>
    <script src="assets/js/vegas.min.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>

    <!-- template scripts -->
    <script src="assets/js/theme.js"></script>
</body>

</html>