<body>
  <%- include('./Includes/begin.ejs') %>
  <%- include('./Includes/navbar.ejs') %>
  <main class="main" style="margin-top: 30vh">
    <div class="container-fluid landingpage">
      <div class="nameblock">
        <h1 class="text-center">Merci pour votre souscription !</h1>
        <h4 class="text-center">
          Vous allez recevoir incessamment un e-mail contenant le lien de suivi
          de votre inscription.
        </h4>
      </div>
    </div>
  </main>
  <%- include('./Includes/end.ejs') %>
</body>
